* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding-top: 85px;
    font-family: 'Gamja Flower', cursive;
}


a:link, a:visited {
    text-decoration: none;
    color: black;
}


.container {
    margin: 0 auto;
    width: 960px;
}

nav {
    position: fixed;
    top: 0;
    line-height: 85px;
    width: 100%;
    background-color: white;
}

.nav-logo {
    font-size: 35px;
    float: left;
    margin: 0;
    font-weight: 900;
}

.nav-menu {
    float: right;
}

.clearfix {*zoom:1;}
.clearfix:before, .clearfix:after {display:block; content: ''; line-height: 0;}
.clearfix:after {clear: both;}

.why{
    float: left;
}
 
.nav-btn {
    list-style-type: none;
    margin: 0;
}


ul.nav-btn > li {
    float: left;
    margin-left: 35px;
    font-size: 25px;
    font-weight: 50;
} 

.hd {
    width: 100%;
    text-align: right;
    background-color: rgb(255, 252, 249);
}

.box {
    width: auto;
    height: 250px;
    border-radius: 70%;
    overflow: hidden;
    float: left;
    margin-top: 20px;
    clear: both;
}

.profile {
    float: left;
    clear: both;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inpo {
    font-size: 30px;
    float: right;
}

.sec {
    margin-top: 3%;
    width: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec article {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sec article :last-child {
    margin-right: 0;
}

.sec article img {
    width: 100%;
    height: auto;
}

.card-img {
    margin-bottom: 20px;
    overflow: hidden;
    object-fit: cover;
    width: 250px;
    height: 250px;
    transition: all 0.2s linear;
}

.card-img:hover {
    transform: scale(1.7);
}

.ft {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 252, 249);
    font-weight: bold;
} 